<link rel="stylesheet" href="/static/css/index.css">
<div class="container-fluid login-page">
  <ul class="nav nav-tabs" role="tablist">
    <li role="presentation" class="active">
      <a role="tab" data-toggle="tab" href="#login">Login</a>
    </li>
    <li role="presentation">
      <a role="tab" data-toggle="tab" href="#signup">Register</a>
    </li>
  </ul>
  <div class="tab-content">
    <div role="tabpanel" class="tab-pane active" id="login">
      <form class="login-form" method="post" action="login/">
        {% csrf_token %}
        <div class="form-group">
          <label for="userid" class="control-label">Username or Email address</label>
          {{ login_form.user_name }}
        </div>
        <div class="form-group">
          <label for="password" class="control-label">Password</label>
          {{ login_form.password }}
        </div>
        <div class="form-group">
          <button class="login-button btn btn-default" type="submit">Login</button>
        </div>
      </form>
    </div>
    <div role="tabpanel" class="tab-pane" id="signup">
      <form class="signup-form" method="post" action="register/">
        {% csrf_token %}
        <div class="form-group">
          <label for="userid" class="control-label">Full Name</label>
          {{ register_form.full_name }}
        </div>
        <div class="form-group">
          <label for="userid" class="control-label">Username or Email address</label>
          {{ register_form.user_name }}
        </div>
        <div class="form-group">
          <label for="password" class="control-label">Password</label>
          {{ register_form.password }}
        </div>
        <div class="form-group">
          <label for="confirm_password" class="control-label">Confirm Password</label>
          {{ register_form.repeat_password }}
        </div>
        <div class="form-group">
          <button class="signup-button btn btn-default" type="submit">Register</button>
        </div>
      </form>
    </div>
  </div>
</div>
